.bg_parallax_scroll {
    background: url("../src/assets/Food_Assets/assets/parallax/bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    opacity: 1;
}

.bg_parallax_scroll h2 {
    padding: 40px;
    font-size: 100px;
    text-shadow:
        -1px 0 black,
        0 5px black,
        1px 0 black,
        0 -1px black;
    color: white;
}

.about {
    background-color: rgba(245, 69, 4, 0.968);
}

.about h3 {
    margin-top: 50px;
    padding: 120px;
    color: rgb(238, 188, 130);
    font-weight: bold;
    font-size: 40px;
}

.about h1 {
    margin-bottom: 100px;
    margin-top: -70px;
    color: rgb(238, 188, 130);
    font-weight: bold;
    font-size: 100px;
}

.about-para {
    text-align: center;
    padding: 80px;
    font-size: x-large;
    color: white;
    font-weight: bolder;
}

.delivery img {
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-right: 200px;
    border: 5px solid black;
    border-radius: 50%;
    padding: 30px;
    margin-top: -80px;
    background-color: rgb(238, 188, 130);

}

.delivery h4 {
    text-align: center;
    padding: 10px;
    font-size: x-large;
    color: rgb(238, 188, 130);
    font-weight: bolder;
}

.delivery p {
    text-align: center;
    font-size: larger;
    color: white;
    font-weight: bold;
}
.delivery{
    display: flex;
}

@media(max-width:1281px) {
    .delivery img {
        margin-left: 70px;
        margin-right: 90px;
    }
}

@media(max-width:1025px) {
    .delivery img {
        height: 200px;
        width: 200px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media(max-width:922px) {
    .delivery img {
        height: 200px;
        width: 200px;
        margin-left: 50px;
        margin-right: 80px;
    }
}

@media(max-width:850px) {
    .delivery img {
        height: 150px;
        width: 150px;
        margin-left: 65px;
        margin-right: 60px;
    }

    .bg_parallax_scroll h2 {
        font-size: 90px;
    }
}

@media(max-width:786px) {
    .delivery img {
        height: 150px;
        width: 150px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .bg_parallax_scroll h2 {
        font-size: 80px;
    }

    .delivery h4 {
        font-size: large;
        font-weight: bolder;
    }

    .delivery p {
        font-size: small;
    }

    .about-para {
        font-size: large;
    }
}

@media(max-width:541px) and (max-width:721px) {
    .delivery img {
        height: 120px;
        width: 120px;
        margin-left: 30px;
        margin-right: 0px;
        padding: 10px;
    }

    .bg_parallax_scroll h2 {
        font-size: 60px;
    }

    .delivery h4 {
        font-size: medium;
        font-weight: bolder;
    }

    .delivery p {
        font-size: small;
        margin-right: 5px;
    }

    .about-para {
        font-size: large;
    }
}

@media(max-width:431px) {
    .delivery img {
        height: 120px;
        width: 120px;
        margin-left: 2px;
        margin-right: 0px;
        padding: 10px;
    }

    .bg_parallax_scroll h2 {
        font-size: 60px;
    }

    .delivery h4 {
        font-size: medium;
        font-weight: bolder;
    }

    .delivery p {
        font-size: small;
    }

    .about-para {
        font-size: large;
    }
}

@media(max-width:415px) {
    .delivery img {
        height: 120px;
        width: 120px;
        margin-left: 2px;
        margin-right: 0px;
        padding: 10px;
    }

    .bg_parallax_scroll h2 {
        font-size: 60px;
    }

    .delivery h4 {
        font-size: medium;
        font-weight: bolder;
    }

    .delivery p {
        font-size: small;
    }

    .about-para {
        font-size: large;
    }
}

@media(max-width:376px) and (max-height:668px) {
    .delivery img {
        height: 120px;
        width: 120px;
        margin-left: 2px;
        margin-right: 0px;
        padding: 10px;
    }

    .bg_parallax_scroll h2 {
        font-size: 60px;
    }

    .delivery h4 {
        font-size: medium;
        font-weight: bolder;
    }

    .delivery p {
        font-size: small;
    }

    .about-para {
        font-size: large;
    }
}