.main {
    margin: 30px auto;
    margin-left: 155px;
    height: 600px;
    background: url('C:\Users\Acer\Desktop\Food ordering website\vite-project\src\assets\header_img.png') no-repeat;
    background-size: contain;
    position: relative;
    margin-top: 130px;
}

.mainContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 4s;
}

.mainContent h1 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.mainContent p {
    font-style: italic;
    font-size: medium;
    font-weight: bold;
}

.mainBtn {
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background-color: white;
    color: orangered;
    font-weight: bold;
}

@media (max-width:1450px) {
    .main {
        height: 550px;
        margin-left: 70px;
        width: 1330px;
        margin-top: 200px;
    }
}

@media (max-width:1350px) {
    .main {
        height: 550px;
        margin-left: 70px;
        width: 1200px;
        margin-top: 200px;
    }
}

@media (max-width:1281px) {
    .main {
        height: 550px;
        margin-left: 75px;
        width: 1130px;
        margin-top: 200px;
    }

    .mainContent {
        max-width: 50%;
        bottom: 28%;
        left: 4vw;
    }

    .mainContent h1 {
        font-weight: 200px;
        color: white;
        font-size: max(3vw, 15px);
    }

    .mainContent p {
        font-style: italic;
        font-size: smaller;

    }

    button {
        height: 40px;
        width: 80px;
        border-radius: 20px;
        background-color: white;
        color: orangered;
        font-weight: bold;
    }

}

@media (max-width:1200px) {
    .main {
        height: 550px;
        margin-left: 50px;
        width: 1100px;
        margin-top: 200px;
    }

    .mainContent {
        max-width: 50%;
        bottom: 20%;
        left: 4vw;
    }
    .dot{
    display: none;
    }

}

@media (max-width:1150px) {
    .main {
        height: 550px;
        margin-left: 70px;
        width: 1000px;
        margin-top: 200px;
    }

    .mainContent {
        max-width: 50%;
        bottom: 30%;
        left: 4vw;
    }
    .dot{
    display: none;
    }

}

@media (max-width:1050px) {
    .main {
        height: 550px;
        margin-left: 50px;
        width: 950px;
        margin-top: 200px;
    }

    .mainContent {
        max-width: 50%;
        bottom: 30%;
        left: 4vw;
    }
    .dot{
    display: none;
    }

}

@media (max-width:1025px) and (max-height:1367px) {
    .main {
        height: 550px;
        margin-left: 50px;
        width: 850px;
        margin-top: 150px;
    }

    .mainContent {
        max-width: 50%;
        bottom: 28%;
        left: 4vw;
    }

    .mainContent h1 {
        font-weight: 200px;
        color: white;
        font-size: max(3vw, 15px);
    }

    .mainContent p {
        font-style: italic;
        font-size: smaller;

    }

    .mainBtn {
        height: 40px;
        width: 150px;
        border-radius: 20px;
        background-color: white;
        color: orangered;
        font-weight: bold;
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .dot{
    display: none;
    }

}

@media (max-width:1025px) and (max-height:600px) {
    .main {
        height: 550px;
        margin-left: 40px;
        width: 950px;
        margin-top: 150px;
    }
    .dot{
    display: none;
    }
}

@media (max-width:992px) {
    .main {
        height: 550px;
        margin-left: 40px;
        width: 950px;
        margin-top: 150px;
    }
    .dot{
    display: none;
    }
}

@media (max-width:971px) {
    .main {
        height: 550px;
        margin-left: 40px;
        width: 900px;
        margin-top: 150px;
    }
    .dot{
    display: none;
    }
}

@media (max-width:913px) {
    .main {
        height: 450px;
        margin-left: 60px;
        width: 800px;
    }

    .mainContent {
        max-width: 50%;
        bottom: 30%;
        left: 4vw;
    }

    .mainContent h1 {
        font-weight: 200px;
        color: white;
        font-size: max(3vw, 15px);
    }

    .mainContent p {
        font-style: italic;
        font-size: smaller;

    }

    .mainBtn {
        height: 40px;
        width: 100px;
        border-radius: 20px;
        background-color: white;
        color: orangered;
        font-size: small;
    }
    .dot{
    display: none;
    }

}

@media (max-width:854px) {
    .main {
        height: 450px;
        margin-left: 60px;
        width: 750px;
    }

    .mainContent {
        max-width: 50%;
        bottom: 30%;
        left: 4vw;
    }

    .mainContent h1 {
        font-weight: 200px;
        color: white;
        font-size: max(3vw, 15px);
    }

    .mainContent p {
        font-style: italic;
        font-size: smaller;

    }

    .mainBtn {
        height: 40px;
        width: 80px;
        border-radius: 20px;
        background-color: white;
        color: orangered;
        font-size: small;
    }
    .dot{
    display: none;
    }

}

@media (max-width:768px) {
    .main {
        height: 450px;
        margin-left: 80px;
        width: 610px;
    }

    .mainContent {
        max-width: 50%;
        bottom: 39%;
        left: 4vw;
    }

    .mainContent h1 {
        font-weight: 200px;
        color: white;
        font-size: max(3vw, 15px);
    }

    .mainContent p {
        font-style: italic;
        font-size: x-small;

    }

    button {
        height: 30px;
        width: 60px;
        border-radius: 20px;
        background-color: white;
        color: orangered;
        font-weight: bold;
        font-size: x-small;
    }
    .dot{
    display: none;
    }

}

@media (max-width:713px) {
    .main {
        height: 450px;
        margin-left: 60px;
        width: 610px;
    }

    .mainContent {
        max-width: 50%;
        bottom: 39%;
        left: 4vw;
    }
    .dot{
    display: none;
    }
}

@media (max-width:650px) {
    .main {
        height: 250px;
        margin-left: 40px;
        width: 900px;

    }

    .mainContent {
        max-width: 50%;
        bottom: -10%;
        left: 4vw;
        gap: 0px;
    }
    .dot{
    display: none;
    }
}

@media (max-width:576px) {
    .main {
        height: 200px;
        margin-left: 50px;
        width: 500px;

    }

    .mainContent {
        max-width: 50%;
        bottom: -10%;
        left: 4vw;
        gap: 0px;
    }

    .mainContent h1 {
        font-weight: 200px;
        color: white;
        font-size: max(3vw, 15px);
    }

    .mainContent p {
        font-style: italic;
        font-size: x-small;

    }

    .mainBtn {
        height: 20px;
        width: 60px;
        border-radius: 20px;
        background-color: white;
        color: orangered;
        font-size: x-small;
    }
    .dot{
    display: none;
    }

}

@media (max-width:541px) and (max-height: 721px) {
    .main {
        height: 200px;
        margin-left: 40px;
        width: 500px;
    }

    .mainContent {
        max-width: 50%;
        bottom: -10%;
        left: 4vw;
        gap: 0px;
    }
}

@media (max-width:431px) {
    .main {
        height: 200px;
        margin-left: 40px;
        width: 350px;

    }

    .mainContent {
        max-width: 50%;
        bottom: 13%;
        left: 4vw;
        gap: 0px;
    }

    .mainContent h1 {
        font-weight: 100px;
        color: white;
        font-size: max(3vw, 15px);
        margin-left: -10px;
    }

    .mainContent p {
        font-style: italic;
        font-size: xx-small;
        width: 200%;
        margin-bottom: -5px;
        margin-left: -10px;
    }

    .mainBtn {
        height: 20px;
        width: 60px;
        border-radius: 20px;
        background-color: white;
        color: orangered;
        font-size: xx-small;
        margin-top: 10px;
    }
    .dot{
    display: none;
    }

}

@media (max-width:415px) {
    .main {
        height: 200px;
        margin-left: 40px;
        width: 330px;

    }

    .mainContent {
        max-width: 50%;
        bottom: 17%;
        left: 4vw;
        gap: 0px;
    }

    .mainContent h1 {
        font-weight: 100px;
        color: white;
        font-size: max(3vw, 15px);
        margin-left: -10px;
    }

    .mainContent p {
        font-style: italic;
        font-size: xx-small;
        width: 200%;
        margin-bottom: -5px;
        margin-left: -10px;
    }

    .mainBtn {
        height: 20px;
        width: 60px;
        border-radius: 20px;
        background-color: white;
        color: orangered;
        font-size: xx-small;
    }
    .dot{
    display: none;
    }

}

@media (max-width:391px) {
    .main {
        height: 200px;
        margin-left: 30px;
        width: 330px;

    }
}

@media (max-width:376px) and (max-height: 668px) {
    .main {
        height: 200px;
        margin-left: 20px;
        width: 330px;

    }

    .mainContent {
        max-width: 50%;
        bottom: 17%;
        left: 4vw;
        gap: 0px;
    }

    .mainContent h1 {
        font-weight: 100px;
        color: white;
        font-size: max(3vw, 15px);
        margin-left: -10px;
    }

    .mainContent p {
        font-style: italic;
        font-size: xx-small;
        width: 200%;
        margin-bottom: -5px;
        margin-left: -10px;
    }

    .mainBtn {
        height: 20px;
        width: 60px;
        border-radius: 20px;
        background-color: white;
        color: orangered;
        font-size: xx-small;
    }
    .dot{
    display: none;
    }

}

@media (max-width:361px) and (max-height: 741px) {
    .main {
        height: 200px;
        margin-left: 15px;
        width: 330px;

    }
    .dot{
    display: none;
    }
}

@media (max-width:345px) and (max-height: 883px) {
    .main {
        height: 200px;
        margin-left: 15px;
        width: 310px;
    }

    .mainContent {
        max-width: 50%;
        bottom: 20%;
        left: 4vw;
        gap: 0px;

    }

    .mainBtn {
        height: 15px;
        width: 60px;
        border-radius: 20px;
        background-color: white;
        color: orangered;
        font-size: xx-small;
    }
    .dot{
    display: none;
    }
}